# Ignore virtual environment
venv/

# Python cache files
__pycache__/
**/__pycache__/
*.py[cod]

# VSCode settings
.vscode/

# Log and result files (if temporary)
*.log
results/

run_experiment.bat


